<%- include("../partials/header.ejs") -%> <%- include("./previous.ejs") -%> <%-
include("../alert.ejs") -%>
<div class="editpassword">
  <h2>Update Password</h2>
  <form action="/admin/editpassword" method="post">
    <div class="old-password">
      <input
        type="password"
        name="password1"
        placeholder="Enter old Password"
      />
    </div>
    <div class="new-password">
      <input
        type="password"
        name="password2"
        placeholder="Enter new Password"
      />
    </div>
    <div class="confirm-password">
      <input type="password" name="password3" placeholder="Confirm Password" />
    </div>
    <button type="submit">Change Password</button>
  </form>
</div>
<%- include("../clear.ejs") -%> <%- include("../partials/footer.ejs") -%>
