<%- include("../partials/header.ejs") -%> <%- include("./bookspage.ejs") -%>
<div class="singlebook">
  <div class="title"><%= book.title %></div>
  <div class="author">by <i> <%= book.author %> </i></div>
  <div class="copies">Copies Available <%= book.stock %></div>
  <div class="category"><%= book.category %></div>
  <div class="description"><%= book.description %></div>
</div>
<%- include("../partials/footer.ejs") -%>
